
.og-services {
    margin-top: var(--sp-xl);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap-lg);
}

@media (min-width: 1024px) {
    .og-services {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
    }

    .m-card--cyan {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .m-card--red {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .m-card--orange {
        grid-column: 2;
        grid-row: 3 / span 2;
    }

    .m-card--blue {
        grid-column: 3;
        grid-row: 2 / span 2;
    }
}