.m-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-card);
    background-color: var(--color-bg-surface);
    padding: var(--sp-md);
    box-shadow: var(--elevation-card);
}

.m-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

.m-card--cyan::before {
    background-color: var(--color-cyan);
}

.m-card--red::before {
    background-color: var(--color-red);
}

.m-card--orange::before {
    background-color: var(--color-orange);
}

.m-card--blue::before {
    background-color: var(--color-blue);
}

.m-card__title {
    font-size: var(--fs-heading-md);
    font-weight: var(--fw-semibold);
}

.m-card__description {
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}

.m-card__icon {
    display: flex;
    justify-content: flex-end;
    padding: var(--sp-sm);
}

.m-card__icon img{
    width: var(--sp-3xl);
}



